/*TAG nav (navegação da pagina.)*/
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /*alinhando a esqueda os links*/
}

nav a {
    text-transform: uppercase; /*Deixar o texto maiusuclo*/
    color: #000000; /* deixar o texto com cor preta */
    font-weight: bold; /*Deixar o texto negrito*/
    font-size: 22px; /*Deixar a fonte maior*/
    text-decoration: none; /*Deixar o texto sem sublinhado*/
}

nav a:hover {
    color:#c78c19; /*colocando cor nos links de navegação*/
    text-decoration: underline; /*deixar o texto sublinhado*/
    
}



.produtos {
    width: 940px;
    margin: 0 auto;   
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;    
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;    
    border: 2px solid #000000;
    border-radius: 10px;   
    
}


.produtos li:hover { /*deixar o texto sublinhado com uma cor escolhida*/
    border-color: #c78c19; 

}

.produtos li:active { /*Quando clicar vai marcar a cor escolhida*/
    border-color: #088c19;
    
}

.produtos li:hover h2 { /*Quando o mouse estiver por cima, mudar a fonte*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;

}
/*Rodapé*/

footer {
    text-align: center; /*Deixar o texto ou imagem centralizado*/
    background: url("bg.jpg"); /*adicionar uma imagem de fundo do elemento*/
    padding: 40px;
}

.copyright {
    color: #FFFFFF; /*Deixando a cor branca*/
    font-size: 13px; /*tamanho da fonte*/
    margin: 20px 0 0; /*ajeitando a margim da imagem*/
}

/*formulario*/

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p {/*Usando o mesmo css para outros css, usando a virgula*/
    display: block;    
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao { /*Usando o mesmo css para outros css, usando a virgula*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}